#cardZone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    padding-top: 3vh;
    height: 15vw;
}

#number {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size:  2rem;
   font-family: Oswald;
   padding-top: 1vw;
   margin-bottom: 0vh;
}

#prob {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 250;
   color: white;
   font-size:  1rem;
   font-family: Oswald;
   margin: 0;
}

.Title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  color:  white;
}

.Background {
  background-color: rgb(20, 20, 20);
}

.card {
    height: 32vh;
    width: 22vw;
    background-color: transparent;
    border-radius: 1vw;
    text-align: center;
    outline: none;
    border: 0.1vw solid #ffffff;
    color: #ffffff;
    font-family: Oswald;
    font-size: 2rem;
    transition: 0.3s;
}

.next {
    display: block;
    margin: auto;
    margin-top: 5vh;
    height: 6vh;
    width: 5vw;
    background-color: transparent;
    border-radius: 0.5vw;
    text-align: center;
    outline: none;
    border: 0.1vw solid #1cb615;
    color: #1cb615;
    font-family: Oswald;
    font-size: 1.5rem;
    transition: 0.3s;
}

.next:hover {
    background-color: #1cb615;
    color: rgb(255, 255, 255);
}
  
.card:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}